/* General Styling for the Game */
h1 {color: floralwhite; font-family: impact; font-size: 55px;}
p {color: floralwhite; font-family: bedrock; font-size: 20px;}
#planet {height: 350px; width: 350px; background-color: orangered; border-radius: 50%; display: inline-block; margin-top: 60px;
        background: radial-gradient(circle at 100px 100px, rgb(201, 85, 43), black);}
#begin {position: relative; top: 43%; text-align: center; font-size: 30px; font-family: marker felt; background-color: grey;}
.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#pauseButton {margin-top: 20px; margin-left: 20px;}
#pause {background-color: floralwhite; height: 80px; width: 80px; border-radius: 50%;}
#pauseIcon {height: 80px; width: 80px; border-radius: 50%; margin-left: -6px;}
